<div class="row">
  <div class="col-xs-10">
    <app-shopping-edit></app-shopping-edit>
    <hr>
    <ul class="list-group">
      <div *ngFor="let ingredient of ingredients; let i = index">
        <a style="cursor: pointer" class="list-group-item flex-column align-items-start" (click)="onEditItem(i)">
          {{ingredient.name}} ({{ingredient.amount}})
          <button type="button" class="close" aria-label="Close" (click)="onDeleteItem(i)">
            <span class="oi oi-circle-x"></span>
          </button>
        </a>
      </div>
    </ul>

  </div>

</div>