<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="ingredientForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name*</label>
          <input type="text" id="name" class="form-control"
          formControlName='name'>
          <div class="alert alert-danger" *ngIf="name.invalid && (name.dirty || name.touched)">
            <div *ngIf="name.errors.required">Name is required.</div>
          </div>
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input type="number" id="amount" class="form-control"
          formControlName='amount'>
          <div class="alert alert-danger" *ngIf="amount.invalid && (amount.dirty || amount.touched)">
            <div *ngIf="amount.errors.required">Amount is required.</div>
            <div *ngIf="amount.errors.pattern">Choose Positive number.</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" type="submit" [disabled]="ingredientForm.invalid">{{editMode?'Update':'Add'}}</button>
          <button class="btn btn-danger" type="button">Delete</button>
          <button class="btn btn-primary" type="button" (click)="clearForm()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div> 